$accent: #4285F4;
$main-color: #59ABE3;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";

.header {
  padding-top: 50px;
}
.header-title {
  color: $main-color;
  font-family: "Montserrat";
  font-size: 3.5em;
}
.topbar-link {
  color: $main-color;
}
